// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn_new_question {
  border-radius: 3px;
  background-color: #A26FF9;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
